/*.alert h4 {
    margin-bottom: 0px;
}

#sidebar-nav {
    padding-top: 0;
}

.filter-block {
    margin-bottom: 34px;
}

h1.page-header {
    font-size: 24px;
    color: #29323d;
    border-bottom: 0;
}

legend {
    color: #696d73;
    font-size: 18px;
}

.toppad {
    margin-top: 20px;
}

#pad-wrapper h4 {
    font-style: normal;
}

#pad-wrapper {
    margin-top: 20px;
}

.alert i {
    font-size: 27px;
    position: relative;
    top: 4px;
    margin-bottom: 8px;
    margin-right: 17px;
    display: inline-block;
}

.table tbody > tr > th,
.table tbody > tr > td {
    border: 0;
}

.warehouse-info-table tr > th {
    text-align: right;
}

.warehouse-info-table tr > td {
    margin-left: 20px;
    display: inline-block;
}

.br {
    margin-bottom: 10px;
}

.required-field {
    color: red;
    font-size: 18px;
}

.parsley-required {
    color: red;
}*/

.tag-list .tag-item {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    padding: 2px 6px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 2px;
    display: block;
}

.dataTables_filter .input-sm {
    margin-left: 2px;
}

.alert h4 {
    margin-bottom: 0;
}

#cargoNestableList a {
    font-weight: bold;
}

#cargoNestableList .dd-item > div {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #e7eaec;
    background: #f5f5f5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}
