/*.alert h4 {
    margin-bottom: 0px;
}

#sidebar-nav {
    padding-top: 0;
}

.filter-block {
    margin-bottom: 34px;
}

h1.page-header {
    font-size: 24px;
    color: #29323d;
    border-bottom: 0;
}

legend {
    color: #696d73;
    font-size: 18px;
}

.toppad {
    margin-top: 20px;
}

#pad-wrapper h4 {
    font-style: normal;
}

#pad-wrapper {
    margin-top: 20px;
}

.alert i {
    font-size: 27px;
    position: relative;
    top: 4px;
    margin-bottom: 8px;
    margin-right: 17px;
    display: inline-block;
}

.table tbody > tr > th,
.table tbody > tr > td {
    border: 0;
}

.warehouse-info-table tr > th {
    text-align: right;
}

.warehouse-info-table tr > td {
    margin-left: 20px;
    display: inline-block;
}

.br {
    margin-bottom: 10px;
}

.required-field {
    color: red;
    font-size: 18px;
}

.parsley-required {
    color: red;
}*/

.tag-list .tag-item {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    padding: 2px 6px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 2px;
    display: block;
}

.dataTables_filter .input-sm {
    margin-left: 2px;
}

.alert h4 {
    margin-bottom: 0;
}

.table-striped-tbody > tbody:nth-child(odd) > tr > td,
.table-striped-tbody > tbody:nth-child(odd) > tr > th {
    background-color: #f9f9f9;
}

.wizard > .content > .body {
    position: relative!important;
}

.alert {
    font-size: 14px;
}

.panel-info-light {
    border-color: #bce8f1;
}

.panel-info-light>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning-light {
    border-color: #faebcc;
}

.panel-warning-light>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger-light {
    border-color: #ebccd1;
}

.panel-danger-light>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.warehouses.edit .panel-title {
    font-size: 14px;
}
