.alert h4 {
    margin-bottom: 0px;
}

#sidebar-nav {
    padding-top: 0;
}

.filter-block {
    margin-bottom: 34px;
}

#pad-wrapper {
    margin-top: 0px;
}

h1.page-header {
    font-size: 24px;
    color: #29323d;
    border-bottom: 0;
}

legend {
    color: #696d73;
    font-size: 18px;
}

.toppad {
    margin-top: 20px;
}

#pad-wrapper h4 {
  font-style: normal;
}

#pad-wrapper {
  margin-top: 20px;
}

.alert i {
  font-size: 27px;
  position: relative;
  top: 4px;
  margin-bottom: 8px;
  margin-right: 17px;
  display: inline-block;
}
